
@{
    ViewBag.Title = "AlreadyBooked";
}
<br />
<h2>Booking Unsuccessful</h2>
<br />
<p>
    Oops! It seems you are making a duplicate booking.
    Please note that multiple bookings cannot be made for the same class.

</p>
<br /><br />

@Html.ActionLink("Back to menu", "MenuPage", "Gym") <br /><br />

