
@{
    ViewBag.Title = "EntryAdded";
}

<h2>Entry Added</h2>

<p>
   Your entry has been added!
    Keep working at it!

</p>
<br /><br />

@Html.ActionLink("Back to menu", "MenuPage", "MyGym") <br /><br />